@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat:wght@700&display=swap");

$color-bg-primary: white;
$color-bg-secondary: #e2e2e2;
$color-bg-semi-blue: rgba(45, 139, 192, 0.75);
$color-btn-active: #55c3ff;
$color-text-secondary: #23a6f0;
$color-text-gray: #737373;
$color-green: #2dc071;
$border-1: 2px solid black;

* {
  font-family: "Montserrat", sans-serif;
}

.bold {
  font-weight: 700;
}

h4,
h2 {
  text-transform: uppercase;
  margin: 0;
}

.pad-1 {
  padding: 1rem;
}

.bold {
  font-weight: bold;
  color: black !important ;
  scale: 1.2;
}

.border-1 {
  border: $border-1;
}

.border-1-r {
  border-right: $border-1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anim-fade-in {
  animation: fade-in 0.5s linear;
}
